doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Borrow
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/borrowscreen.css', rel='stylesheet')
  body(style='background: white')
    nav.navbar.navbar-inverse
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a(href='/main')
            img(src='/images/BBS_logo2-4.png')
        div
          br
          a(href='/profile')
            .text(style='float: right; margin-top: 50px; font-size: 20px; color: #FFFFFF')
              b !{name122}
            form.navbar-form.pull-right
              .dropdown
                a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right;', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ? 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/contact_us') About Us
                  li
                    a(href='/contact_us') Contact Us
                  li
                    a(href='/logout') Log Out
            span
              a(href='/community')
                img#globe(align='right', src='/images/globe.png')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    div
      div
        h3(style='color: #0B614B;text-align: center;margin-bottom: 30px') BORROW
        center
          #custom-search-input
            .input-group.col-md-5
              input.search-query.form-control(type='text', placeholder='Search')
              span.input-group-btn
                button.btn.btn-danger(type='button')
                  img(src='/images/search.png', style='width:10px;height: 10px')
              select.form-control(name='mm', style='width:90px;margin-left: 20px')
                option(value='ALL') ALL
                option(value='Electronics') Electronics 
                option(value='Trip Gear') Trip Gear 
                option(value='Stationary') Stationary 
                option(value='Books') Books 
                option(value='Cars') Cars 
                option(value='Other') Other
          .col-md-12(style='margin-top: 20px')
            a.btn.btn-success.btn-lg.btn-huge(href='/upload_requests') Post Request
      br
      br
      br
      div(style='margin-top: 30px;background-color: black;width: 100%;height: auto;margin-left: 80px')
        center
          .gallery_product.col-lg-2.col-md-2.col-sm-2.col-xs-3.filter.hdpe
            img.img-responsive(src='http://fakeimg.pl/365x365/')
          .gallery_product.col-lg-2.col-md-2.col-sm-2.col-xs-3.filter.sprinkle
            img.img-responsive(src='http://fakeimg.pl/365x365/')
          .gallery_product.col-lg-2.col-md-2.col-sm-2.col-xs-3.filter.hdpe
            img.img-responsive(src='http://fakeimg.pl/365x365/')
          .gallery_product.col-lg-2.col-md-2.col-sm-2.col-xs-3.filter.hdpe
            img.img-responsive(src='http://fakeimg.pl/365x365/')
          .gallery_product.col-lg-2.col-md-2.col-sm-2.col-xs-3.filter.hdpe
            img.img-responsive(src='http://fakeimg.pl/365x365/')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
