doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Change Password
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='/stylesheets/bootstrap-glyphicons.css', rel='stylesheet')
    link(href='/stylesheets/styles.css', rel='stylesheet')
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a(href='/home')
            img(src='/images/BBS_logo2-4.png')
        div
          br
          a(href='/register')
            .text(style='float: right; margin-top: 50px; font-size: 20px; color: #0B614B')
              b Maheen
            form.navbar-form.pull-right
              .dropdown
                a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right;', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ? 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/contactUs') About Us
                  li
                    a(href='/contactUs') Contact Us
                  li
                    a(href='/logout') Log Out
            span
              img#globe(align='right', src='/images/globe.png')
    .container(style='margin-top: 100px')
      .row(style='margin-top:5px')
        .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
          form(role='form')
            fieldset
              center
                h2 Change Password:
              hr.colorgraph
              .form-group
                input#email.form-control.input-lg(type='email', name='email', placeholder='Email Address')
              .form-group
                input#curr_pass.form-control.input-lg(type='password', name='password', placeholder='Current Password')
              .form-group
                input#new_pass.form-control.input-lg(type='password', name='password', placeholder='New Password')
              .form-group
                input#conf_pass.form-control.input-lg(type='password', name='password', placeholder='Confirm Password')
              hr.colorgraph
              //
                <div class="row">
                <div>
                <center>
                <input type="submit" class="btn btn-lg btn-success btn-block" value="save changes">
                </center>
                </div>
                </div>
              .modal-footer
                button#password_modal_save.btn.btn-primary(href='#') Save Changes
                button.btn(href='#', data-dismiss='modal', aria-hidden='true') Cancel
    script(src='index.js')
    script(src='http://code.jquery.com/jquery.js')
    script.
      window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\\/script>')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
