doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Community
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
  nav.navbar.navbar-inverse
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        a(href='/main')
          img(src='images/BBS_logo2-4.png')
      div
        br
        a(href='/profile')
          .text(style='float: right; margin-top: 50px; font-size: 20px; color: #FFFFFF')
            b !{name122}
          form.navbar-form.pull-right
            .dropdown
              a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | ? 
                span.caret
              ul.dropdown-menu
                li
                  a(href='/contact_us') About Us
                li
                  a(href='/contact_us') Contact Us
                li
                  a(href='/logout') Log Out
          span
            a(href = '/community')
              img#globe(align='right', src='/images/globe.png')
    // /.container-fluid
  div
    div
      h3(style='color: #0B614B;text-align: center;margin-bottom: 30px') COMMUNITY
      center
        #custom-search-input
          .input-group.col-md-5
            input.search-query.form-control(type='text', placeholder='Search for members')
            span.input-group-btn
              button.btn.btn-danger(type='button')
                img(src='/images/search.png', style='width:10px;height: 10px')
  .row(style='margin-top: 40px;color: #0B614B;padding-left: 200px')
    center
      .col-md-3
        h3 TOP USER POINTS
        ul(style='list-style: none')
          li user1
          li user2
          li user3
          li user4
          li user5
          li user6
      .col-md-3
        h3 TOP USER RATINGS
        ul(style='list-style: none')
          li user1
          li user2
          li user3
          li user4
          li user5
          li user6
      .col-md-12(style='margin-top: 20px')
        a.btn.btn-success.btn-lg.btn-huge(href='http://localhost:5000') Chat Room
      //
        <div class="col-xs-7 col-md-offset-0 col-md-6 col-lg-4 col-lg-offset-0">
        <div class="panel panel-primary">
        <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span> Chat-Room
        <div class="btn-group pull-right">
        </div>
        </div>
        <div class="panel-body body-panel">
        <ul class="chat">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
        $(function () {
        var socket = io.connect('http://localhost:3000/community');
        $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
        });
        socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        });
        });
        </script>
        </ul>
        </div>
        <div class="panel-footer clearfix">
        <textarea class="form-control" rows="3"></textarea>
        <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
        <button class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>
        </span>
        </div>
        </div>
        </div>
      script.
        $(function() {
        var socket = io.connect();
        var $messageForm = $('#messageForm');
        var $message = $('#message');
        var $chat = $('#chat');
        $messageForm.submit(function(e) {
        e.preventDefault();
        console.log('submitted');
        });
        });
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='/javascripts/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
