doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Community
		link(href='stylesheets/bootstrap.css', rel='stylesheet')
	body
		<ul class="chat">
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

		</ul>