extends layout

block content
  doctype html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='home.css')
    title  WELCOME TO BBS 
  body(style='background:#424242')
    center
      img#logoimage(src='images/BBS_logo2-5.png')
    center
      form(action='/signup')
        button
          span.label-signin(style='color:#000000')  SIGN UP
      br
      form(action='/login')
        button
          span.label-login(style='color:#000000') LOGIN