extends layout

block content
  doctype html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='home.css')
    title  WELCOME TO BBS   
  body(style='background:#0f0f0a;font-family: Helvetica;color:white')
    if (message.length > 0)
      center
        .alert.alert-error
          a.close(data-dismiss='alert', href='#')
          | !{message}                  
    center
      img#logoimage(src='images/BBS_logo2-5.png')
    center
      a.btn.btn-default.btn-lg(href='/signup') Sign Up
      p
      a.btn.btn-default.btn-lg(href='/login') Log In 