extends layout

block content
  doctype html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='home.css')
    title  WELCOME TO BBS 
  body(style='background:#0f0f0a')
    center
      img#logoimage(src='images/BBS_logo2-5.png')
    center
      a.btn.btn-default.btn-lg(href='/signup') SIGN UP
      p
      a.btn.btn-default.btn-lg(href='/login') LOG IN 