doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title BBS
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/main.css', rel='stylesheet')
  body(style='background: #000000')
    center
      div(style='margin-top: 300px')
        ul.social
          li.facebook(style='background-color:#04B4AE')
            a(href='/buyscreen')
              img(src='images/buy.png', style='width: 2.75em;height: 2.75em;margin-top: -60px')
              p(style="margin-top: -90px;color: #04B4AE;font-family:'Verdana'") BUY
          li.twitter(style='background-color:#04B4AE')
            a(href='/borrowscreen')
              img(src='images/borrow.png', ,='', style='width: 4em;height: 4em;margin-top: -60px')
              p(style="margin-top: -90px;color: #04B4AE;font-family:'Verdana';") BORROW
          li.pinterest(style='background-color:#04B4AE')
            a(href='/upload_ad')
              img(src='images/sell.png', style='width: 3em;height: 3em;margin-top: -60px')
              p(style="margin-top: -90px;color: #04B4AE;font-family:'Verdana';") SELL
          li.behance(style='background-color:#04B4AE')
            a(href='/community')
              img(src='images/community.png', style='width: 2em;height: 2em;margin-top: -60px')
              p(style="margin-left: -30px;margin-top: -90px;color: #04B4AE;font-family:'Verdana';") COMMUNITY
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')

