doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css')
    title Sign up
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          a(href='/')
            img(src='/images/BBS_logo2-4.png')
    .container
      section
        h1.entry-title
          span You are almost there..
        br
        h3.entry-title
          span Please upload a profile picture
        br
        br
        form#uploadForm(ref='uploadForm', action='/profile_picture/upload', method='post', enctype='multipart/form-data')
          input(type='file', name='sampleFile')
          br
          input.btn.btn-primary(type='submit', name='submit',value='Continue!')
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='javascripts/bootstrap.min.js')

