doctype html
html
  head
    title single_ad
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a(href='/main')
            img(src='images/BBS_logo2-4.png')
        div
          br
          a(href='/profile')
            .text(style='float: right; margin-top: 50px; font-size: 20px; color: #FFFFFF')
              b !{name122}
            form.navbar-form.pull-right
              .dropdown
                a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right;', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ? 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/contact_us') About Us
                  li
                    a(href='/contact_us') Contact Us
                  li
                    a(href='/logout') Log Out
            span
              a(href = '/community')
                img#globe(align='right', src='images/globe.png')
      // /.container-fluid
    .w3-container(style='background-color: #424242; color: #FFFFFF')
      center
        h1 iPhone 7 for SALE!!!! 
    .row
      .col-md-6.col-sm-6
        div(style='margin-top: 30px; width: 250%;height: auto;margin-left: 100px')
          center
            .gallery_product.col-lg-2.col-md-2.col-sm-2.col-xs-3.filter.hdpe
              img.img-responsive(src='images/iphone7.jpg')
              br
              p(style='font-size: 20px;')
                | Posted By: Saif Ali Tharani
              p(style='font-size: 20px;')
                | Contact no: 03362275009
              p(style='font-size: 20px;')
                | Price: Rs. 89,000/-
        .col-md-3.col-sm-3
          div(style='margin-top: 30px; width: 200%;height: auto;margin-left: 100px')
            p(style='font-size: 20px;')
              | Product Name: iPhone 7
            p(style='font-size: 20px;')
              | Category: Electronics
            p(style='font-size: 20px;')
              | Product Description:
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='javascripts/bootstrap.min.js')

