doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css')
    title Borrow
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a(href='/main')
            img(src='images/BBS_logo2-4.png')
        div
          br
          a(href='/profile')
            .text(style='float: right; margin-top: 50px; font-size: 20px; color: #FFFFFF')
              b !{name122}
            form.navbar-form.pull-right
              .dropdown
                a.dropdown-toggle(href='#', style='color:#FFFFFF; font-size:50px; float: right;', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | ? 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/contact_us') About Us
                  li
                    a(href='/contact_us') Contact Us
                  li
                    a(href='/logout') Log Out
            span
              img#globe(align='right', src='images/globe.png')
      // /.container-fluid
    .w3-container(style='background-color: #424242; color: #FFFFFF')
      center
        h1 Upload A Request
    br
    section
      hr
      form#sellAd.form-horizontal(role = 'form',method='post', name='sell', action='/upload_requests/submit')
        br
        .form-group
          label.control-label.col-sm-3
            | Request Title:
            span.text-danger
          .col-md-15.col-sm-9
            .input-group
              input#pname.form-control(type='text', name='title', placeholder='Enter the Ad title', value='')
        .form-group
          label.control-label.col-sm-3
            | Product Name:
            span.text-danger
          .col-md-15.col-sm-9
            .input-group
              input#pname.form-control(type='text', name='pname', placeholder='Enter the name', value='')
        .form-group
          label.control-label.col-sm-3
            | Category 
            span.text-danger
          .col-xs-8
            .form-inline
                select.form-control(name='category')
                  option(value='Electronics') Electronics 
                  option(value='Trip Gear') Trip Gear 
                  option(value='Stationary') Stationary 
                  option(value='Books') Books 
                  option(value='Cars') Cars 
                  option(value='Other') Other 
        .form-group
          label.control-label.col-sm-3
            | Product Description:
            span.text-danger
          .col-md-15.col-sm-9
            .input-group
              input#pname.form-control(type='text', name='description', placeholder='Describe the Product', value='')
        .form-group
          label.control-label.col-sm-3
            | Contact Information:
            span.text-danger
          .col-md-15.col-sm-9
            .input-group
              input#pname.form-control(type='text', name='contact', placeholder='Enter your Information', value='')
        .form-group
          div
            center
              input.btn.btn-primary(name='Submit', type='submit', value='Submit')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')

